/* add fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}


.main {
  background-color: white;
  margin: 0px 200px;

  z-index: -1;
}

.blurred {
  filter: blur(5px);
}

.page-header-text {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 50px;
  text-align: center;
}

.test {
  font-family: 'Raleway', sans-serif;
}
